@media all and (max-width: 480px) {
  body, html {
    overflow-x: hidden;
  }
  .news, .ad-item-details, .hottest-product .categories {
    display: none;
  }
  
  .main {
    width: 100%;
    margin: 0;
  }

  .hot-product-carousel .product-carousel-item {
    width: auto;
  }

  .hottest-product-item.feature, .hottest-product-item.feature img {
    width: 100%;
    padding: 0;
  }

  .hottest-product-item.feature.xs-hide {
    display: none;
  }

  .hottest-product-item, .hottest-product-item:not(.feature) {
    width: 50%;
    height: auto;
  }

  .hottest-product-item.xs-inline {
    width: calc(100% / 3);
  }
  
  .xs-hottest-product-navigation {
    display: flex;
  }

  .xs-hidden {
    display: none !important;
  }

  .xs-show {
    display: block !important;
  }
}
/*IPAD*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
  body, html {
    overflow-x: hidden;
  }
  .news, .ad-item-details, .hottest-product .categories {
    display: none;
  }

  .newsbox {
    flex: none;
    max-width: 100%;
  }
  
  .carousel-box {
    flex: none;
    max-width: 100%;
  }

  .main {
    width: 100%;
    margin: 0;
  }

  .hot-product-carousel .product-carousel-item {
    width: auto;
  }

  .heading.col-sm-12 {
    max-width: 100%;
    flex: none;
  }

  .hottest-product-item.feature, .hottest-product-item.feature img {
    width: 100%;
    padding: 0;
  }

  .hottest-product-item.feature.xs-hide {
    display: none;
  }

  .hottest-product-item, .hottest-product-item:not(.feature) {
    width: 50%;
    height: auto;
  }

  .hottest-product-item.xs-inline {
    width: calc(100% / 3);
  }
  
  .xs-hottest-product-navigation {
    display: flex;
  }

  .xs-hidden {
    display: none !important;
  }

  .xs-show {
    display: block !important;
  }

  footer .col-sm-6 {
    max-width: 50% !important;
    flex: none !important;
  }
}

